# Python_MySql_Connectivity

Steps :
1. Import mysql.connector.
2. Invoke the connect method and pass host , username and password as arguments.
3. Create a cursor (buffer) by using cursor method.

### Different ways of printing cursor

##### Printing Cursor and Connection

In [2]:
import mysql.connector as mc
connection = mc.connect(host = 'localhost' , user = 'root' , password = '')
cursor = connection.cursor()
print('print(cursor) : ',cursor)
print('print(connection) : ',connection)

print(cursor) :  MySQLCursor: (Nothing executed yet)
print(connection) :  <mysql.connector.connection.MySQLConnection object at 0x0000024A72EACD00>

##### Printing type of cursor and connection

In [3]:
import mysql.connector as mc
connection = mc.connect(host = 'localhost' , user = 'root' , password = '')
cursor = connection.cursor()
print(type(cursor))
print(type(connection))

<class 'mysql.connector.cursor.MySQLCursor'>
<class 'mysql.connector.connection.MySQLConnection'>

##### cursor.execute(<querry>) does NOT RETURN anything

In [4]:
import mysql.connector as mc
connection = mc.connect(host = 'localhost' , user = 'root' , password = '')
cursor = connection.cursor()
# print((cursor))
databases = cursor.execute('show databases')
print(databases)
print(type(databases))

None
<class 'NoneType'>

##### Traversing through cursor

In [5]:
import mysql.connector as mc
connection = mc.connect(host = 'localhost' , user = 'root' , password = '')
cursor = connection.cursor()
# print((cursor))
cursor.execute('show databases')

for i in cursor:
    print(i)

('information_schema',)
('mysql',)
('rastauri_management',)
('school',)
('shreeji',)
('sql_connectivity',)

##### List

In [6]:
import mysql.connector as mc
connection = mc.connect(host = 'localhost' , user = 'root' , password = '')
cursor = connection.cursor()
print('1st print(cursor) :',(cursor))

cursor.execute('show databases')

print('2nd print(cursor) :',cursor)
print('3rd print([cursor]) :',[cursor])
print('4th print(list(cursor)) :',list(cursor))
print('4th print(list(cursor)) :',list(cursor))
print('5th print(str(cursor)) :',str(cursor))

mc.MySQLConnection.disconnect(connection)

1st print(cursor) : MySQLCursor: (Nothing executed yet)
2nd print(cursor) : MySQLCursor: show databases
3rd print([cursor]) : [<mysql.connector.cursor.MySQLCursor object at 0x0000024A72DA3280>]
4th print(list(cursor)) : [('information_schema',), ('mysql',), ('rastauri_management',), ('school',), ('shreeji',), ('sql_connectivity',)]
4th print(list(cursor)) : []
5th print(str(cursor)) : MySQLCursor: show databases

##### Tuple

In [7]:
import mysql.connector as mc
connection = mc.connect(host = 'localhost' , user = 'root' , password = '')
cursor = connection.cursor()
print((cursor))

cursor.execute('show databases')

print(cursor)
print((cursor,))
print(tuple(cursor))
print(tuple(cursor))
print(str(cursor))

MySQLCursor: (Nothing executed yet)
MySQLCursor: show databases
(<mysql.connector.cursor.MySQLCursor object at 0x0000024A72EACA00>,)
(('information_schema',), ('mysql',), ('rastauri_management',), ('school',), ('shreeji',), ('sql_connectivity',))
()
MySQLCursor: show databases

##### Using Loops

In [8]:
import mysql.connector as mc
connection = mc.connect(host = 'localhost' , user = 'root' , password = '')
cursor = connection.cursor()
print((cursor))

cursor.execute('show databases')

print(cursor)
print([dbs for dbs in cursor])
print(str(cursor))

MySQLCursor: (Nothing executed yet)
MySQLCursor: show databases
[('information_schema',), ('mysql',), ('rastauri_management',), ('school',), ('shreeji',), ('sql_connectivity',)]
MySQLCursor: show databases

In [42]:
import mysql.connector as mc
connection = mc.connect(host = 'localhost' , user = 'root' , password = '')
cursor = connection.cursor()
print((cursor))

cursor.execute('show databases')

print(cursor)
print(dbs for dbs in cursor)
print(str(cursor))

MySQLCursor: (Nothing executed yet)
MySQLCursor: show databases
<generator object <genexpr> at 0x000001C7C7B86F90>
MySQLCursor: show databases

### Creating Database

In [9]:
import mysql.connector as mc
connection = mc.connect(host='localhost', user = 'root', password = '')
cursor = connection.cursor()

dbname = input('Enter the name of the Database you want to create in mysql')

cursor.execute(f'create database {dbname}')
cursor.execute('show databases')
databases = list(cursor)

if (dbname,) in databases:
    print('Database Created')

print(databases)

Database Created
[('information_schema',), ('mysql',), ('rastauri_management',), ('school',), ('shreeji',), ('sql_connectivity',), ('to_be_deleted',)]

### Delete Databases

In [10]:
import mysql.connector as mc
connection = mc.connect(host='localhost', user = 'root', password = '')
cursor = connection.cursor()


cursor.execute('show databases')
print(f'Before Deletion : {list(cursor)}')

dbname = input('Enter the name of database to be deleted : ')

cursor.execute(f'drop database {dbname}')
cursor.execute('show databases')
print(f'After Deletion : {list(cursor)}')

Before Deletion : [('information_schema',), ('mysql',), ('rastauri_management',), ('school',), ('shreeji',), ('sql_connectivity',), ('to_be_deleted',)]
After Deletion : [('information_schema',), ('mysql',), ('rastauri_management',), ('school',), ('shreeji',), ('sql_connectivity',)]

### Use Database

In [13]:
import mysql.connector as mc
# connection = mc.connect(host = 'localhost', user ='root' , password='')
connection = mc.connect(host='localhost' , user = 'root' , password='', database= 'sql_connectivity')
cursor = connection.cursor()

# cursor.execute('Use sql_connectivity')

### Creating Tables

In [2]:
import mysql.connector as mc
# connection = mc.connect(host = 'localhost', user ='root' , password='')
connection = mc.connect(host='localhost' , user = 'root' , password='', database= 'sql_connectivity')
cursor = connection.cursor()

cursor.execute('create table student (roll_no int(4) primary key,\
    name varchar(30), age int(2), city varchar(30))')

print('Table Created !')

ProgrammingError: 1050 (42S01): Table 'student' already exists

### DESC Table

In [14]:
import mysql.connector as mc
# connection = mc.connect(host = 'localhost', user ='root' , password='')
connection = mc.connect(host='localhost' , user = 'root' , password='', database= 'sql_connectivity')
cursor = connection.cursor()

cursor.execute('desc student')

for rec in cursor:
    print(rec)

('roll_no', 'int(6)', 'NO', 'PRI', '0', '')
('name', 'varchar(30)', 'YES', '', None, '')
('age', 'int(2)', 'YES', '', None, '')
('city', 'varchar(30)', 'YES', '', None, '')
('marks', 'int(3)', 'YES', '', None, '')

### Show Tables

In [21]:
import mysql.connector as mc
# connection = mc.connect(host = 'localhost', user ='root' , password='')
connection = mc.connect(host='localhost' , user = 'root' , password='', database= 'sql_connectivity')
cursor = connection.cursor()

cursor.execute('show tables;')
for rec in cursor:
    print(rec)

('student',)

### Alter Table

#### Add

In [15]:
import mysql.connector as mc
# connection = mc.connect(host = 'localhost', user ='root' , password='')
connection = mc.connect(host='localhost' , user = 'root' , password='', database= 'sql_connectivity')
cursor = connection.cursor()  # creates buffer

# cursor.execute('Alter table student add(marks int(3))')
cursor.execute('Alter table student add(dob varchar(35))')
print('Done\nHere is the table :\n')

cursor.execute('desc student')
for rec in cursor:
    print(rec)

Done
Here is the table :

('roll_no', 'int(6)', 'NO', 'PRI', '0', '')
('name', 'varchar(30)', 'YES', '', None, '')
('age', 'int(2)', 'YES', '', None, '')
('city', 'varchar(30)', 'YES', '', None, '')
('marks', 'int(3)', 'YES', '', None, '')
('dob', 'varchar(35)', 'YES', '', None, '')

#### Modify

In [16]:
import mysql.connector as mc
# connection = mc.connect(host = 'localhost', user ='root' , password='')
connection = mc.connect(host='localhost' , user = 'root' , password='', database= 'sql_connectivity')
cursor = connection.cursor()

cursor.execute('alter table student modify roll_no int(6)')
print('Done')

Done

#### Change

In [17]:
import mysql.connector as mc
# connection = mc.connect(host = 'localhost', user ='root' , password='')
connection = mc.connect(host='localhost' , user = 'root' , password='', database= 'sql_connectivity')
cursor = connection.cursor()

cursor.execute('alter table student change dob date_of_birth date')
print('Done')
cursor.execute('desc student')
for rec in cursor:
    print(rec)

Done
('roll_no', 'int(6)', 'NO', 'PRI', '0', '')
('name', 'varchar(30)', 'YES', '', None, '')
('age', 'int(2)', 'YES', '', None, '')
('city', 'varchar(30)', 'YES', '', None, '')
('marks', 'int(3)', 'YES', '', None, '')
('date_of_birth', 'date', 'YES', '', None, '')

#### Drop

In [18]:
import mysql.connector as mc
# connection = mc.connect(host = 'localhost', user ='root' , password='')
connection = mc.connect(host='localhost' , user = 'root' , password='', database= 'sql_connectivity')
cursor = connection.cursor()

cursor.execute('alter table student drop date_of_birth')
print('Done\nHere is the resultant table :\n')

cursor.execute('desc student')
for rec in cursor:
    print(rec)

Done
Here is the resultant table :

('roll_no', 'int(6)', 'NO', 'PRI', '0', '')
('name', 'varchar(30)', 'YES', '', None, '')
('age', 'int(2)', 'YES', '', None, '')
('city', 'varchar(30)', 'YES', '', None, '')
('marks', 'int(3)', 'YES', '', None, '')

### Insert Into

In [2]:
import mysql.connector as mc
# connection = mc.connect(host = 'localhost', user ='root' , password='')
connection = mc.connect(host='localhost' , user = 'root' , password='', database= 'sql_connectivity')
cursor = connection.cursor()

number = int(input('How many records do you want to enter : '))
records_list = [{} for i in range(number)]  # it will create a list of dictionaries

cursor.execute('desc student')
fields = {rec[0]:rec[1] for rec in cursor}   # it will create a dictionary of field : datatype


for i in range(number):
    print(f'Enter data for record {i+1} :')
    for j in fields:
        records_list[i][j] = input(f'Enter {j} ( {fields[j]} ) : ')  # j key of ith indexed dictionary of records list will have the value entered in the input
        

    command = f'insert into student values {tuple(records_list[i].values())}'
    print(command)
    cursor.execute(command)
    connection.commit() #commit function to save data
    
    print(f'Record {i+1} entered\n')

# print(f'\n\n{cursor.rowcount} records affected in total .\n')
cursor.execute('select * from student;')
for rec in cursor:
    print(rec)


rec_affected = cursor.rowcount
print(f'\n{rec_affected} records affected !!')

Enter data for record 1 :
insert into student values ('100010', 'Ben', '16', 'Gwalior', '86')
Record 1 entered

(100001, 'Arohi', 16, 'Banglore', 99)
(100002, 'Lovely', 16, 'Gwalior', 99)
(100003, 'Shreeji Tiwari', 16, 'Singharsi', 99)
(100004, 'Akshita', 16, 'Gwalior', 98)
(100005, 'Priya', 17, 'Kolkata', 96)
(100006, 'Aarushi', 17, 'Prayagraj', 91)
(100007, 'Akanksha', 19, 'Delhi', 92)
(100008, 'Rachit', 16, 'Gwalior', 92)
(100010, 'Ben', 16, 'Gwalior', 86)

### Record Updation

In [11]:
import mysql.connector as mc
connection = mc.connect(host='localhost', user='root', password='', database='sql_connectivity')
cursor = connection.cursor()
cursor.execute('desc student')
fields = {rec[0]:rec[1] for rec in cursor}

# print(fields)
cnt = 1
for fld in fields:
    print(f'{cnt}) {fld} ({fields[fld]})')
    cnt += 1

rec_to_updated = tuple(eval(input('Enter the record(s) that needs to be updated : ')+','))
# print('\n',rec_to_updated)


set_command = ""
for i in rec_to_updated:
    fld_to_be_updated = list(fields.keys())[i-1]
    set_command += str(fld_to_be_updated) + '='
    new_val = input(f'Enter New {fld_to_be_updated}  ({fields[fld_to_be_updated]}) : ')
    set_command += "'"+ str(new_val) + "'"

    if i != rec_to_updated[-1]:
        set_command += ','

# print(set_command)

rn = input('Enter the roll number whose records is to be updated : ')

update_command = f'update student set {set_command} where roll_no = {rn}'
cursor.execute(update_command)
connection.commit()

rec_affected = cursor.rowcount
print(f'\n{rec_affected} records affected !!\n\n')

cursor.execute('select * from student;')
for rec in cursor:
    print(rec)

1) roll_no (int(6))
2) name (varchar(30))
3) age (int(2))
4) city (varchar(30))
5) marks (int(3))

1 records affected !!


(100001, 'Arohi', 16, 'Banglore', 99)
(100002, 'Lovely', 16, 'Gwalior', 99)
(100003, 'Shreeji Tiwari', 16, 'Singharsi', 99)
(100004, 'Akshita', 16, 'Gwalior', 98)
(100005, 'Priya', 17, 'Kolkata', 96)
(100006, 'Aarushi', 17, 'Prayagraj', 91)
(100007, 'Akanksha', 19, 'Delhi', 92)
(100008, 'Rachit', 16, 'Gwalior', 92)
(100010, 'Ben', 16, 'Gwalior', 86)
(100011, 'Ben', 16, 'Gwalior', 86)
(100012, None, 16, '16', 86)
(100013, 'John', 17, 'New York', None)
(100014, 'Albert', 45, 'Zurich', 45)

### Selection

##### Without Fetchall()

In [16]:
import mysql.connector as mc
# connection = mc.connect(host = 'localhost', user ='root' , password='')
connection = mc.connect(host='localhost' , user = 'root' , password='', database= 'sql_connectivity')
cursor = connection.cursor()

cursor.execute('select * from student')

for rec in cursor:
    print(rec)

rec_affected = cursor.rowcount
print(f'\n{rec_affected} records affected !!')

(100001, 'Arohi', 16, 'Banglore', 99)
(100002, 'Lovely', 16, 'Gwalior', 99)
(100003, 'Shreeji Tiwari', 16, 'Singharsi', 99)
(100004, 'Akshita', 16, 'Gwalior', 98)
(100005, 'Priya', 17, 'Kolkata', 96)
(100006, 'Aarushi', 17, 'Prayagraj', 91)
(100007, 'Akanksha', 19, 'Delhi', 92)
(100008, 'Rachit', 16, 'Gwalior', 92)
(100010, 'Ben', 16, 'Gwalior', 86)
(100011, 'Ben', 16, 'Gwalior', 86)
(100012, None, 16, '16', 86)
(100013, None, None, None, None)
(100014, '45', 45, '45', 45)

13 records affected !!

##### Fetchall() (return list)

In [8]:
import mysql.connector as mc
# connection = mc.connect(host = 'localhost', user ='root' , password='')
connection = mc.connect(host='localhost' , user = 'root' , password='', database= 'sql_connectivity')
cursor = connection.cursor()

cursor.execute('select * from student')

res = cursor.fetchall()
print(res, end='\n\n')
print('Type of res = ',type(res), end = '\n\n')

for x in cursor:
    print(x)

res = cursor.fetchall()
print(res)

[(100001, 'Arohi', 16, 'Banglore', 99), (100002, 'Lovely', 16, 'Gwalior', 99), (100003, 'Shreeji Tiwari', 16, 'Singharsi', 99), (100004, 'Akshita', 16, 'Gwalior', 98), (100005, 'Priya', 17, 'Kolkata', 96), (100006, 'Aarushi', 17, 'Prayagraj', 91), (100007, 'Akanksha', 19, 'Delhi', 92), (100008, 'Rachit', 16, 'Gwalior', 92), (100010, 'Ben', 16, 'Gwalior', 86), (100011, 'Ben', 16, 'Gwalior', 86), (100012, None, 16, '16', 86), (100013, 'John', 17, 'New York', None), (100014, 'Albert', 45, 'Zurich', 45)]

Type of res =  <class 'list'>

InterfaceError: No result set to fetch from.

In [4]:
import mysql.connector as mc
# connection = mc.connect(host = 'localhost', user ='root' , password='')
connection = mc.connect(host='localhost' , user = 'root' , password='', database= 'sql_connectivity')
cursor = connection.cursor()

cursor.execute('select * from student where city="Gwalior"')
res = cursor.fetchall()
if (res):
    for x in res:
        print(x)

else:
    print("Record not found !")

(100002, 'Lovely', 16, 'Gwalior', 99)
(100004, 'Akshita', 16, 'Gwalior', 98)
(100008, 'Rachit', 16, 'Gwalior', 92)
(100010, 'Ben', 16, 'Gwalior', 86)
(100011, 'Ben', 16, 'Gwalior', 86)
(123098, 'Seminar', 21, 'Gwalior', 90)

In [17]:
import mysql.connector as mc
# connection = mc.connect(host = 'localhost', user ='root' , password='')
connection = mc.connect(host='localhost' , user = 'root' , password='', database= 'sql_connectivity')
cursor = connection.cursor()

cursor.execute('select name, age from student where roll_no=100011')
res = cursor.fetchone()
if (res):
    name, age = res
    print(name, age)

else:
    print("Record not found !")

bytearray(b'Ben') bytearray(b'16')

##### Fetchmany()  (returns list type)

In [9]:
import mysql.connector as mc
connection = mc.connect(host = 'localhost', user ='root' , password='')
connection = mc.connect(host='localhost' , user = 'root' , password='', database= 'sql_connectivity')
cursor = connection.cursor()

cursor.execute('select * from student')

res = cursor.fetchmany()
print(res)
res = cursor.fetchmany()
print(res)
res = cursor.fetchmany()
print(res)
print('\n\n\n')
res = cursor.fetchmany(2)
print(res)

print('\nType of res : ',type(res))

print('\n')
for x in cursor:
    print(x)

res = cursor.fetchmany()
print(res)

[(100001, 'Arohi', 16, 'Banglore', 99)]
[(100002, 'Lovely', 16, 'Gwalior', 99)]
[(100003, 'Shreeji Tiwari', 16, 'Singharsi', 99)]




[(100004, 'Akshita', 16, 'Gwalior', 98), (100005, 'Priya', 17, 'Kolkata', 96)]

Type of res :  <class 'list'>


(100006, 'Aarushi', 17, 'Prayagraj', 91)
(100007, 'Akanksha', 19, 'Delhi', 92)
(100008, 'Rachit', 16, 'Gwalior', 92)
(100010, 'Ben', 16, 'Gwalior', 86)
(100011, 'Ben', 16, 'Gwalior', 86)
(100012, None, 16, '16', 86)
(100013, 'John', 17, 'New York', None)
(100014, 'Albert', 45, 'Zurich', 45)
[]

##### Fetchone()  (returns Tuple type)

In [10]:
import mysql.connector as mc
connection = mc.connect(host = 'localhost', user ='root' , password='')
connection = mc.connect(host='localhost' , user = 'root' , password='', database= 'sql_connectivity')
cursor = connection.cursor()

cursor.execute('select * from student')

res = cursor.fetchone()
print(res)
res = cursor.fetchone()
print(res)
res = cursor.fetchone()
print(res)
res = cursor.fetchone()
print(res)

print('\nType of res : ',type(res))

print('\n')
for x in cursor:
    print(x)

res = cursor.fetchone()
print(res)

(100001, 'Arohi', 16, 'Banglore', 99)
(100002, 'Lovely', 16, 'Gwalior', 99)
(100003, 'Shreeji Tiwari', 16, 'Singharsi', 99)
(100004, 'Akshita', 16, 'Gwalior', 98)

Type of res :  <class 'tuple'>


(100005, 'Priya', 17, 'Kolkata', 96)
(100006, 'Aarushi', 17, 'Prayagraj', 91)
(100007, 'Akanksha', 19, 'Delhi', 92)
(100008, 'Rachit', 16, 'Gwalior', 92)
(100010, 'Ben', 16, 'Gwalior', 86)
(100011, 'Ben', 16, 'Gwalior', 86)
(100012, None, 16, '16', 86)
(100013, 'John', 17, 'New York', None)
(100014, 'Albert', 45, 'Zurich', 45)
None

### Selecting only names

In [37]:
import mysql.connector as mc
connection = mc.connect(host='localhost' , user = 'root' , password='', database= 'sql_connectivity')
cursor = connection.cursor()

cursor.execute('select name from student')
name_list = []
for rec in cursor:
    print(rec)
    name_list.append(rec[0])

print(name_list)

('Arohi',)
('Lovely',)
('Shreeji Tiwari',)
('Akshita',)
('Priya',)
('Aarushi',)
('Akanksha',)
('Rachit',)
('Ben',)
('Ben',)
(None,)
(None,)
('45',)
['Arohi', 'Lovely', 'Shreeji Tiwari', 'Akshita', 'Priya', 'Aarushi', 'Akanksha', 'Rachit', 'Ben', 'Ben', None, None, '45']