In [6]:
l = 'abc is a grp of chars'
l.find('s')

5

In [19]:
l.partition('5')

('abc is a grp of chars', '', '')

In [36]:
'Shreeji made Proto !!! '.index('Proto')

13

In [26]:
len('Shreeji made Proto !!! ')

23

In [45]:
'Proto is an Artificial Intelligence'.split('P')
# for n occurance , there are n+1 elements in the split list.

['', 'roto is an Artificial Intelligence']

In [20]:
import random
print(random.randint(5,10))

7

In [32]:
def kuchbhi():
    
    global a
    
    a = [1,2,3]
    print(a)

a = 10
print(a)
kuchbhi()
print(a)

10
[1, 2, 3]
[1, 2, 3]

In [58]:
a = [1,2,3]
ida1 = (id(a))
b = a
a = [1,2,3]

In [59]:
ida2 = id(a)

In [60]:
ida1 == ida2

False

In [70]:
def ba(*s):
    print(s)

ba([1,2,3,45,6])

([1, 2, 3, 45, 6],)

In [64]:
def ba(**s):
    print(s)

ba(me = 'you', ab = 2)

{'me': 'you', 'ab': 2}

In [71]:
l = [1]
type(l)

list

In [73]:
t = (1)
type(t)

int

In [74]:
__name__

'__main__'

In [78]:
'Ham thak gaye chalte chalte'[::-2]

'elh tacea atmH'

In [87]:
d = {'me': 'you', 'ab': 2}
a = d.values()
b = d.keys()
i = d.items()
print(type(a))
print(type(b))
print(type(i))

print((a))
print((b))
print(i)

<class 'dict_values'>
<class 'dict_keys'>
<class 'dict_items'>
dict_values(['you', 2])
dict_keys(['me', 'ab'])
dict_items([('me', 'you'), ('ab', 2)])

In [92]:
w = d.get(1)
print(w)

None

In [104]:
dict([1,2,5][4,5,9])

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (<ipython-input-104-1fbab59a6d1c>, line 1)

In [107]:
t = ()
type(t)

tuple

In [131]:
lst = [1,2,3,4,5,62,2,1,1,3,2]
lst[2]

3

In [118]:
list(d)

['me', 'ab']

In [120]:
set(d)

{'ab', 'me'}

In [127]:
d1 = dict(r=3,t=3,s=5)

In [129]:
print(d1)

{'r': 3, 't': 3, 's': 5}

In [130]:
l

1

In [137]:
lst.pop()

2

In [162]:
# lst.clear()

lst.count('6')

2

In [178]:
lst

[6, 5, '6', '6076', 20]

In [177]:
lst[:2]=[]

In [179]:
len(lst)

5

In [214]:
import string
'ek baar ki baat hai morgan so rahi thi'.find('z')

-1

In [210]:
'         '.isspace()

True

In [215]:
'a'>'A'

True

In [239]:
'A'<'B'

True

In [247]:
set(range(5,-1,-1))

{0, 1, 2, 3, 4, 5}

In [253]:
import math
print(math.fmod(7,-2))
print(7%-2)

1.0
-1

In [260]:
round(-0.5)

0

In [262]:
[(2,5)]+[3,6]

[(2, 5), 3, 6]

In [264]:
float('0.17e5')

17000.0

In [265]:
bool(None)

False

In [269]:
print('e\ve')

ee

In [278]:
any((0,0,' '))

True

In [279]:
list(range(0,5,1))

[0, 1, 2, 3, 4]

In [281]:
cnt = 0
for i in range(50):
    cnt += 1

print(cnt)

50

In [282]:
range(50) == range(0,50,1)

True

In [286]:
10//3

3

In [12]:
def change():
    for i in range(len(l)):
        if l[i]%2 == 0:
            l[i] = l[i]*2

        if l[i]%3 == 0:
            l[i] = l[i]*3

        else:
            l[i] = l[i]*5

l = [2,6,9,10]
change()
for i in l:
    print(i,end='#')

20#36#27#100#

In [6]:
t = (1,2,3)
t = t+(40,)

In [7]:
t

(1, 2, 3, 40)

In [10]:
d = {'AMIT':90,'RESHMA':96,'SUKHBIR':92,'JOHN':95}
print('JOHN' in d, 90 in d , sep='#')

True#False

In [11]:
def faltu(s):
    t = ''
    for i in s:
        if i.isdigit():
            t = t + i

    return t

x = 'PYTHON 3.9'
y = faltu(x)
print(x,y,sep='*')

PYTHON 3.9*39